<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Week 12 Exercise 2 Q1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <h1>Week 12 Exercise 1 (Q1)</h1>
      <h2>Circles</h2>
    </header>

    <main>
      <p>Circle with radius=<%=radius.toFixed(1)%></p>
      <p>Circumference: <%=(2 * Math.PI * radius).toFixed(2)%></p>
      <p>Area: <%=(Math.PI * radius**2).toFixed(2)%></p>
    </main>

    <footer>
      <address>&copy; 2023 Firstname Lastname</address>
    </footer>
  </body>

</html>