<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Week 12 Exercise 3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <header>
      <h1>Week 12 Exercise 3</h1>
      <h2>Circles</h2>
    </header>

    <main>
      <p>Circle with radius=<span><%=circle.radius.toFixed(1)%></span></p>
      <p>Circumference: <span><%=circle.circumference.toFixed(2)%></span></p>
      <p>Area: <span><%=circle.area.toFixed(2)%></span></p>
    </main>

    <footer>
      <address>&copy; 2023 Firstname Lastname</address>
    </footer>
  </body>

</html>